@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color:#ffffff;
  --background-color: #141624;
  --background-end-rgb: 255, 255, 255;
}



body {
  background-color: var(--background-color);
}


@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-notification {
  animation: slideDown 0.7s ease-in-out;
}

